[FORMAT]
max-line-length=120

[MASTER]
disable=
    C0114, # missing-module-docstring
    R0903, # too-few-public-methods

[REPORTS]
output-format=json

[SIMILARITIES]
# Ignore comments when computing similarities.
ignore-comments=yes
# Ignore docstrings when computing similarities.
ignore-docstrings=yes
# Ignore imports when computing similarities.
ignore-imports=yes